// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.question {
  background-color: whitesmoke;
  border: 1px solid black;
  margin: 20px;
  padding-top: 15px;
}

.answer {
  background-color: whitesmoke;
  border: 1px solid black;
  margin: 20px;
  padding-top: 15px;
}

.container {
  flex-direction: column;
  text-align: center;
  width: 70%;
  margin-left: 15%;
}

a {
  text-decoration: none;
  color: white;
}

.button {
  padding: 15px 25px;
  background-color: green;
  border-radius: 5px;
}
